@media screen and (min-width: 650px){

	p3{
		font-family: oswald;
		color: rgba(255,255,255, 0.7);
		font-size: 60px;
		text-align: center;
	}
	p4{
		font-family: oswald;
		color: #555;
		font-size: 20px;
		text-align: center
	}

	#wrappercontact{
		position: absolute;
		overflow: hidden;
		margin: 0 auto;
		width: 100%;
		height: 130%;
		background-color: transparent;
	}

	#grid2{
		background-color: rgba(85, 85, 85, 0.7);
		color: white;
		font-family: oswald;
		padding: 5%;
		width: 80%;
		margin: 0 auto;
	}

	.textbox{
		margin: 0 auto;
		width: 100%;
		height: 20px;
	}

	.success{
		background: rgba(28, 184, 65, 1); /* this is a green */
		color: white;
		font-size: 100%;
	}
}

@media screen and (max-width: 649px){
	p3{
		font-family: oswald;
		color: rgba(255,255,255, 0.7);
		font-size: 30px;
		text-align: center;
	}
	p4{
		font-family: oswald;
		color: #555;
		font-size: 10px;
		text-align: center
	}

	#wrappercontact{
		position: absolute;
		overflow: hidden;
		margin: 0 auto;
		width: 100%;
		height: 130%;
		background-color: transparent;
	}

	#grid2{
		background-color: rgba(85, 85, 85, 0.7);
		color: white;
		font-family: oswald;
		padding: 5%;
		width: 80%;
		margin: 0 auto;
	}

	.textbox{
		margin: 0 auto;
		width: 100%;
		height: 20px;
	}

	.success{
		background: rgba(28, 184, 65, 1); /* this is a green */
		color: white;
		font-size: 80%;
	}
}