#wrappersignup{
	position: absolute;
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: transparent;
}

@media screen and (min-height: 700px) and (min-width: 900px) {
	#form{
		display:none;
		/*border: solid 2px #555;*/
		background-color: rgba(85, 85, 85, 0.3);
		/*border-radius: 25px;*/
	    padding: 2%; 
	    font-family: oswald;
	    color: rgba(255, 255, 255, 0.7);
	    height: 94%;
	}

	#midbox{
		display:none;
		/*border: solid 2px #555;*/
		background-color: rgba(85, 85, 85, 0.3);
		/*border-radius: 25px;*/
		height: 94%;
	    padding: 2%; 
	    font-family: oswald;
	    color: rgba(255, 255, 255, 0.7);
	}

	.textbox{
		padding-right: 1%;
		padding-left: 2%;
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		/*border: 2px solid #555;
		border-radius:10px;*/
		height: 20px;
		width: 95.5%;
	}

	#formgrid{
		padding-top: 2%;
		margin: 0 auto;
		height: 80%; 
		width: 80%; 
		overflow: hidden;
	}

	#leftboxs{
		float: left; 
		width: 33%; 
		height: 100%;
		
	}

	#middleboxs{
		padding-left: 1%;
		padding-right: 1%;
		float: left; 
		width: 32%; 
		height: 100%;
		
	}

	#rightboxs{
		float: left; 
		width: 33%; 
		height: 99.7%;

	}

	.success{
		background: rgba(28, 184, 65, 1); /* this is a green */
		color: white;
		
		font-size: 125%;
	}

	#midbox li{
		padding-left: 0;
		font-size: 120%;
		line-height: 150%;
	}

	#image1, #image2{
		/*border-radius: 25px;*/
		opacity: 0.8;
	}

	#rightimage{
		display:none;
	}
}

@media screen and (max-height: 699px) and (min-width: 856px) {
	h1{
		font-size: 90%;
	}
	#form{
		display: none;
		/*border: solid 2px #555;*/
		background-color: rgba(85, 85, 85, 0.3);
		/*border-radius: 25px;*/
	    padding: 1%; 
	    line-height: 130%;
	    font-family: oswald;
	    color: rgba(255, 255, 255, 0.7);
	    height: 63%;
	}

	#midbox{
		display:none;
		/*border: solid 2px #555;*/
		background-color: rgba(85, 85, 85, 0.3);
		/*border-radius: 25px;*/
		height: 73%;
	    padding: 2%; 
	    font-family: oswald;
	    color: rgba(255, 255, 255, 0.7);
	}

	.textbox{
		padding-right: 1%;
		padding-left: 2%;
		/*border: 2px solid #555;
		border-radius:10px;*/
		height: 20px;
		width: 95.5%;
	}

	#formgrid{
		padding-top: 2%;
		margin: 0 auto;
		height: 100%; 
		width: 80%; 
		overflow: hidden;
	}

	#leftboxs{
		float: left; 
		width: 33%; 
		height: 100%;
		
	}

	#middleboxs{
		padding-left: 1%;
		padding-right: 1%;
		float: left; 
		width: 32%; 
		height: 85.5%;
		
	}

	#rightboxs{
		float: left; 
		width: 33%; 
		height: 67%;

	}

	.success{
		background: rgba(28, 184, 65, 1); /* this is a green */
		color: white;
		
		font-size: 100%;
	}

	#midbox li{
		padding-left: 0;
		font-size: 100%;
		line-height: 100%;
	}

	#image1, #image2{
		/*border-radius: 25px;*/
		opacity: 0.8;
	}

	#rightimage{
		display:none;
	}
}

@media screen and (min-width: 811px) and (max-width: 855px) {
	h1{
		font-size: 90%;
	}
	#form{
		display: none;
		/*border: solid 2px #555;*/
		background-color: rgba(85, 85, 85, 0.3);
		/*border-radius: 25px;*/
	    padding: 1%; 
	    line-height: 130%;
	    font-family: oswald;
	    color: rgba(255, 255, 255, 0.7);
	    height: 63%;
	}

	#comp{
		display:none;
	}

	#midbox{
		display:none;
		/*border: solid 2px #555;*/
		background-color: rgba(85, 85, 85, 0.3);
		/*border-radius: 25px;*/
		height: 73%;
	    padding: 2%; 
	    font-family: oswald;
	    color: rgba(255, 255, 255, 0.7);
	}

	.textbox{
		padding-right: 1%;
		padding-left: 2%;
		/*border: 2px solid #555;
		border-radius:10px;*/
		height: 20px;
		width: 95.5%;
	}

	#formgrid{
		padding-top: 2%;
		margin: 0 auto;
		height: 100%; 
		width: 80%; 
		overflow: hidden;
	}

	#leftboxs{
		float: left; 
		width: 33%; 
		height: 100%;
		
	}

	#middleboxs{
		padding-left: 1%;
		padding-right: 1%;
		float: left; 
		width: 32%; 
		height: 85.5%;
		
	}

	#rightboxs{
		float: left; 
		width: 33%; 
		height: 67%;

	}

	.success{
		background: rgba(28, 184, 65, 1); /* this is a green */
		color: white;
		
		font-size: 100%;
	}

	#midbox li{
		padding-left: 0;
		font-size: 100%;
		line-height: 150%;
	}

	#image1, #image2{
		/*border-radius: 25px;*/
		opacity: 0.8;
	}

	#rightimage{
		display:none;
	}
}

@media screen and (min-height: 450px) and (max-width: 810px) {
	h1{
		font-size: 90%;
	}
	#form{
		display: none;
		/*border: solid 2px #555;*/
		background-color: rgba(85, 85, 85, 0.3);
		/*border-radius: 25px;*/
	    padding: 1%; 
	    line-height: 130%;
	    font-family: oswald;
	    color: rgba(255, 255, 255, 0.7);
	    height: 80%;
	}

	#shadow{
		display:none;
	}

	#midbox{
		display:none;
		/*border: solid 2px #555;*/
		background-color: rgba(85, 85, 85, 0.3);
		/*border-radius: 25px;*/
		height: 73%;
	    padding: 2%; 
	    font-family: oswald;
	    color: rgba(255, 255, 255, 0.7);
	}

	.textbox{
		padding-right: 1%;
		padding-left: 2%;
		/*border: 2px solid #555;
		border-radius:10px;*/
		height: 20px;
		width: 95.5%;
	}

	#formgrid{
		padding-top: 2%;
		margin: 0 auto;
		height: 100%; 
		width: 100%; 
		overflow: hidden;
	}

	#leftboxs{
		float: left; 
		width: 100%; 
		height: 100%;
		
	}

	#middleboxs{
		display:none;
		padding-left: 1%;
		padding-right: 1%;
		float: left; 
		width: 32%; 
		height: 85.5%;
		
	}

	#rightboxs{
		display: none;
		float: left; 
		width: 33%; 
		height: 67%;

	}

	.success{
		background: rgba(28, 184, 65, 1); /* this is a green */
		color: white;
		
		font-size: 100%;
	}

	#midbox li{
		padding-left: 0;
		font-size: 100%;
		line-height: 150%;
	}

	#image1, #image2{
		/*border-radius: 25px;*/
		opacity: 0.8;
	}

	#comp{
		display: none;
	}
}

@media screen and (max-height: 450px) {

	h1{
		font-size: 90%;
	}
	#form{
		display: none;
		/*border: solid 2px #555;*/
		background-color: rgba(85, 85, 85, 0.3);
		/*border-radius: 25px;*/
	    padding: 1%; 
	    line-height: 130%;
	    font-family: oswald;
	    color: rgba(255, 255, 255, 0.7);
	    height: 80%;
	}

	#shadow{
		display:none;
	}

	#midbox{
		display:none;
		/*border: solid 2px #555;*/
		background-color: rgba(85, 85, 85, 0.3);
		/*border-radius: 25px;*/
		height: 73%;
	    padding: 2%; 
	    font-family: oswald;
	    color: rgba(255, 255, 255, 0.7);
	}

	.textbox{
		font-size: 50%;
		padding-right: 1%;
		padding-left: 2%;
		/*border: 2px solid #555;
		border-radius:10px;*/
		height: 20px;
		width: 95.5%;
	}

	#formgrid{
		font-size: 50%;
		padding-top: 2%;
		margin: 0 auto;
		height: 100%; 
		width: 100%; 
		overflow: hidden;
	}

	#leftboxs{
		float: left; 
		width: 100%; 
		height: 100%;
		
	}

	#middleboxs{
		display:none;
		padding-left: 1%;
		padding-right: 1%;
		float: left; 
		width: 32%; 
		height: 85.5%;
		
	}

	#rightboxs{
		display: none;
		float: left; 
		width: 33%; 
		height: 67%;

	}

	.success{
		background: rgba(28, 184, 65, 1); /* this is a green */
		color: white;
		
		font-size: 100%;
	}

	#midbox li{
		padding-left: 0;
		font-size: 100%;
		line-height: 150%;
	}

	#image1, #image2{
		/*border-radius: 25px;*/
		opacity: 0.8;
	}

	#comp{
		display: none;
	}
}